<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Andres Alba. It uses data from mapbox.com and darksky.net</p>
            <img class="portrait" src="./img/b_Foto_AA_Sendas.png" alt="">
        </div>
        {{>footer}}
    </body>
</html>