<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="./img/b_Foto_AA_Sendas.png" alt="">
        {{>footer}}
    </body>
</html>